@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700');

body {
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  height: 100vh;
  background: url(/app-background.png) #000;
  background-size: cover;
  background-repeat: no-repeat;
}

h1#app-title {
  position: absolute;
  left: 120px;
  top: 41px;

  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}