#summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

#current {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#current #location {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: .05em;
    margin: 0;
}

#current #date {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: .05em;
}

#current canvas {
    margin: 0 auto;
}

#current #current-short-summary {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

#today {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#today #current-temperature {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 92px;
    letter-spacing: .05em;
}

#today #todays-temperatures {
    font-family: 'Work Sans', sans-serif;
    font-size: 38px;
    line-height: 1.5em;
    letter-spacing: .05em;
}

#today #todays-temperatures span#less-opacity {
    opacity: .75;
}

#today #todays-summary {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

@media (min-width: 480px) {
    #summary {
        flex-direction: row;
    }

    #current,
    #today {
        width: auto;
    }

    #current canvas {
        margin: 0;
    }

    #today {
        text-align: right;
    }    
}